AOA_Prototyp/frontend_entwurf/package-lock.json
AOA_Prototyp/Beispieldaten/Sentinel2 Bild.tif
.gitignore
.gitignore
AOA_Prototyp/Beispieldaten/Trainingspolygone_warendorf SHP.zip
AOA_Prototyp/Beispieldaten/Trainingspolygone_Warendorf_EPSG_4326_layer1.zip
AOA_Prototyp/Beispieldaten/Trainingspolygone_Warendorf_EPSG_4326_layer1.gpkg
AOA_Prototyp/Beispieldaten/Trainingspolygone_Warendorf GeoJSON.geojson
.gitignore
AOA_Prototyp/frontend_entwurf/public/uploads/usersentineldata.tif
AOA_Prototyp/frontend_entwurf/public/uploads/usertrainingsdatagjson.geojson
AOA_Prototyp/backend_entwurf/.Rhistory
AOA_Prototyp/backend_entwurf/Classification.zip
AOA_Prototyp/backend_entwurf/Trainingspolygone_Warendorf_EPSG_4326_layer1.gpkg
AOA_Prototyp/frontend_entwurf/public/uploads/usertrainingsdatagpkg.zip
AOA_Prototyp/frontend_entwurf/public/uploads/usertrainingspolygone.gpkg
AOA_Prototyp/frontend_entwurf/public/downloads/test.tif
AOA_Prototyp/frontend_entwurf/public/uploads/usertrainingsdatashp.zip
AOA_Prototyp/frontend_entwurf/public/uploads/usertrainingspolygonegpkg.gpkg
AOA_Prototyp/frontend_entwurf/public/uploads/usertrainingspolygonegjson.geojson
AOA_Prototyp/Beispieldaten/Trainingspolygone_Warendorf GeoJSON.zip
AOA_Prototyp/backend_entwurf/Trainingspolygone_warendorf.shx
AOA_Prototyp/backend_entwurf/Trainingspolygone_warendorf.shp
AOA_Prototyp/backend_entwurf/Trainingspolygone_warendorf.prj
AOA_Prototyp/backend_entwurf/Trainingspolygone_warendorf.dbf
AOA_Prototyp/backend_entwurf/Trainingspolygone_warendorf.cpg
AOA_Prototyp/backend_entwurf/Trainingspolygone_Warendorf GeoJSON.geojson
AOA_Prototyp/Beispieldaten/Trainingspolygone_Warendorf_GeoJSON.geojson
.gitignore
AOA_Prototyp/frontend_entwurf/public/downloadstest.tif
AOA_Prototyp/frontend_entwurf/backend_entwurf/.Rhistory
AOA_Prototyp/frontend_entwurf/public/downloads/prediction.tif
AOA_Prototyp/frontend_entwurf/public/downloads/prediction.tif.aux.xml
AOA_Prototyp/frontend_entwurf/public/downloads/richtig.tif
AOA_Prototyp/frontend_entwurf/public/downloads/test.tif.aux.xml
AOA_Prototyp/backend_entwurf/test.tif
AOA_Prototyp/backend_entwurf/test.tif.aux.xml
AOA_Prototyp/frontend_entwurf/public/R/test.tif
AOA_Prototyp/frontend_entwurf/public/R/test.tif.aux.xml
AOA_Prototyp/frontend_entwurf/public/R/predictions/prediction.tif
AOA_Prototyp/frontend_entwurf/public/uploads/digitalized_usertrainingspolygons.geojson
AOA_Prototyp/frontend_entwurf/public/R/.Rhistory
AOA_Prototyp/frontend_entwurf/public/R/predictions/predictionlegende.png
AOA_Prototyp/frontend_entwurf/public/R/predictions/usersentineldata.tif
AOA_Prototyp/frontend_entwurf/public/uploads/usertrainingspolygonegjson.geojson
AOA_Prototyp/frontend_entwurf/public/uploads/usertrainingspolygonegjson.geojson
AOA_Prototyp/frontend_entwurf/public/uploads/usertrainingspolygonegjson.geojson
AOA_Prototyp/Beispieldaten/.Rhistory
AOA_Prototyp/Beispieldaten/predictors_warendorf.tif
AOA_Prototyp/frontend_entwurf/public/uploads/usertrainedmodel.rds
AOA_Prototyp/frontend_entwurf/public/uploads/usertrainedmodel.rds
AOA_Prototyp/frontend_entwurf/public/R/data/prediction.tif
AOA_Prototyp/frontend_entwurf/public/R/data/predictionlegende.png
AOA_Prototyp/frontend_entwurf/public/R/data/aoa.tif
