extends layout

block content
  #alles
    br
    br
    h1 Demo
    p Diese Seite ist für Demonstrationszwecke
    .row.justify-content-md-left
          .col-lg-6.col-xs-12.mb-3
                #anwendungsmap

          .col-lg-6.col-xs-12.mb-3
            
            h3
              button.buttonFragezeichen(onclick="document.getElementById('id10').style.display='block'; modal = document.getElementById('id10')" title='Hilfe') ?     
              .card.text-dark.p-4.border-success.cardanwendungsseite
                #abfrage
                  h3(style= "text-align: center; font-weight: bold;") Haben Sie bereits ein trainiertes Modell?
                    br
                    p 
                    .w3-row
                      .w3-half
                        button.btn.btn-success(onclick="document.getElementById('rest').style.display='block'; document.getElementById('trainingsdaten').style.display='none'; document.getElementById('abfrage').style.display='none';") Ja
                      .w3-half
                        button.btn.btn-success(onclick="document.getElementById('rest').style.display='block'; document.getElementById('trainiertesModell').style.display='none'; document.getElementById('abfrage').style.display='none';") Nein
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                #rest(style= "display:none")   
                  h4 Bereich auf der Karte auswählen 
                    button.buttonFragezeichen(onclick="document.getElementById('id02').style.display='block'; modal = document.getElementById('id02')" title='Hilfe') ?
                  p


                    #trainiertesModell
                      h4 Trainiertes Modell hochladen
                      button.buttonFragezeichen(onclick="document.getElementById('id04').style.display='block'; modal = document.getElementById('id04')" title='Hilfe') ?
                      form(method='post', enctype='multipart/form-data', action='/uploadmodel')
                      input(type='file', name='file' accept=".rds" style="color:grey; font-size:large;" onclick="document.getElementById('traniertesModelltrain').style.display='block';")
                      input.btn.btn-success(type='submit', value='Hinzufügen' onclick='bufferAktivieren(4)')
                      #puff4.spinner-border.float-end(role='status' style= 'display:none') 


                    #trainingsdaten
                      #geozeug
                        h4 Trainingspolygone als GeoPackage oder GeoJSON:
                          button.buttonFragezeichen(onclick="document.getElementById('id05').style.display='block'; modal = document.getElementById('id05')" title='Hilfe') ?
                        form(method='post', enctype='multipart/form-data', action='/uploadtrainingsdata' )
                          input(type='file', name='file', accept=".gpkg, .geojson" style="color:grey; font-size:large;" onclick="document.getElementById('shapefilezeug').style.display='none'; document.getElementById('geopackagegeojson').style.display='block';")
                          input.btn.btn-success(type='submit', value='Hinzufügen' onclick="bufferAktivieren(2);")
                          #puff2.spinner-border.float-end(role='status' style= 'display:none')
                        p(style="font-size: small") Bei GeoPackage den Layer, welcher auf der Karte angezeigt werden soll, bitte "Layer1" nennen
                      #shapefilezeug
                        h4  Trainingspolygone als Shapefile als .zip
                        form(method='post', enctype='multipart/form-data', action='/uploadtrainingsdatashp' )
                          input(type='file', name='file', accept=".zip" style="color:grey; font-size:large;" onclick="document.getElementById('geozeug').style.display='none';document.getElementById('shapefiletrain').style.display='block';")
                          input.btn.btn-success(type='submit', value='Hinzufügen' onclick="bufferAktivieren(3);")
                          #puff3.spinner-border.float-end(role='status' style= 'display:none')                
                        p(style="font-size: small") Bitte die .shp Datei als "usertrainingspolygoneshp.shp" benennen!                


                  h4 Sentinel 2 Bild als .tif hochladen </b>
                    button.buttonFragezeichen(onclick="document.getElementById('id06').style.display='block'; modal = document.getElementById('id06')" title='Hilfe') ?
                  form(method='post', enctype='multipart/form-data', action='/uploadsentinel')
                    input(type='file', name='file' , accept=".tif" style="color:grey; font-size:large;")
                    input.btn.btn-success(type='submit', value='Hinzufügen' onclick='bufferAktivieren(1)')
                    #puff1.spinner-border.float-end(role='status' style= 'display:none')
                    p(style="font-size: small") Das Anzeigen kann bis zu einer Minute dauern, bitte haben Sie Geduld!

                  h4 Ausführen
                    button.buttonFragezeichen(onclick="document.getElementById('id09').style.display='block'; modal = document.getElementById('id09')" title='Hilfe') ?
                  p
                #geopackagegeojson(style= "display:none") 
                  .w3-row
                    .w3-half
                      form(method='post', action='/anwendungsseite/ergebnisseitegpkg')
                        button.btn.btn-success(style="margin-right: 2%; margin-left: 2%;" onclick="document.getElementById('warteseiteGanz').style.display='block'; document.getElementById('alles').style.display='none';") Ausführen mit <br>
                          | geoPackage Trainingsdaten
                      br
                    .w3-half
                      form(method='post', action='/anwendungsseite/ergebnisseitegjson')
                        button.btn.btn-success(style="margin-right: 2%; margin-left: 2%;" onclick="document.getElementById('warteseiteGanz').style.display='block'; document.getElementById('alles').style.display='none';") Ausführen mit <br>
                          | GeoJSON Trainingsdaten
                      br 
                #shapefiletrain(style= "display:none") 
                  form(method='post', action='/anwendungsseite/ergebnisseiteshape')
                    button.btn.btn-success(style="margin-right: 2%; margin-left: 2%;" onclick="document.getElementById('warteseiteGanz').style.display='block'; document.getElementById('alles').style.display='none';") Ausführen mit <br>
                      | Shapefile Trainingsdaten
                  br  
                #traniertesModelltrain(style= "display:none") 
                  form(method='post', action='/anwendungsseite/ergebnisseitemodel')
                      button.btn.btn-success(style="margin-right: 2%; margin-left: 2%;" onclick="document.getElementById('warteseiteGanz').style.display='block'; document.getElementById('alles').style.display='none';") Ausführen mit <br>                                                                  
                        | trainiertem Modell

script(src="/javascripts/demoseite.js")