extends layout

block content
  br
  br
  h1 Area of Applicability - Ergebnisseite
  p Auf der Ergebnisseite werden die Ergebnisse angezeigt, welche auf der Anwendungsseite berechnet wurden. Ihnen ist es hier möglich, sich die Dateien einzeln anzeigen zu lassen und/oder diese zu downloaden.
        img(src= ueblink , alt="")
        .w3-row
          br
          .w3-twothird
                #ergebnismap
          .w3-third
          .card.text-dark.p-4.border-success.cardprediction
                h2 Layer
                p Wählen Sie die Layer welche Sie angezeigt bekommen wollen mit der Layerkontrollfunktion auf der Karte oben rechts aus.
                  .card.text-dark.p-4.border-success.cardprediction
                    
                    h4 Prediction
                    p Legende:
                    br
                    p Wenn die Seite fertig geladen hat, drücken Sie bitte auf den Knopf um die Prediction auf der Karte anzeigen zu lassen
                    button.btn-success(onclick='loadprediction()') Anzeigen der Prediction
                    
                    br
                    p Laden Sie die Prediction als GeoTIFF herunter:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/downloads/test.tif', download='prediction.tif')
                  br
                  .card.text-dark.p-4.border-success.cardprediction
                    
                    h4 AOA
                    br
                    p Laden Sie die AOA herunter:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/downloads/aoa.tif', download='aoa.tif')
                  br
                  .card.text-dark.p-4.border-success.cardprediction
                    
                    h4 Trainingsgebiete
                    br
                    p Laden Sie Ihre hochgeladenen Trainingsdaten als .zip herunter:  
                    p GeoPackage:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/usertrainingspolygonegpkg.gpkg', download='usertrainingspolygone.gpkg')
                    p Shapefile:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/usertrainingsdatashp.zip', download='usertrainingsdatashp.zip')
                    p GeoJSON:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/usertrainingspolygonegjson.geojson', download='usertrainingsdatagjson.geojson')
                    p Eigene gezeichnete Trainingspolygone als .geojson:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(onclick='exportGeoJSON()')
                  br
                  .card.text-dark.p-4.border-success.cardprediction
                    
                    h4 empfohlene Gebiete zum nachtrainieren
                        
                  br
                  .card.text-dark.p-4.border-success.cardprediction
                    
                    h4 Sentinel 2 Satelliten Bild
                    p Laden Sie das ursprüngliche Satelliten Bild herunter:  
                      a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/usersentineldata.tif', download='usersentineldata.tif')
                  br
                  br
                  p Herunterladen aller Daten als .zip:  
                    a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/', download='alldata.zip')
                  br
                  form(method='post', action='/anwendungsseite')
                   button.btn.btn-success() Zurück zur Anwendung für erneute Ausführung!


  script(src="/javascripts/shp.js")
  script(src='/javascripts/leaflet.shpfile.js')
  script(src="/javascripts/results.js")
  

  script.
    // Script for side navigation
    function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
    }
    // Close side navigation
    function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    }
    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    } else {
    x.className = x.className.replace(" w3-show", "");
    }
    }
