extends layout

block content
  br
  br
  h1 Ergebnisseite
  p Auf der Ergebnisseite werden die Ergebnisse angezeigt, welche auf der Anwendungsseite berechnet wurden. Ihnen ist es hier möglich, sich die Dateien einzeln anzeigen zu lassen und/oder diese zu downloaden.
  .row.justify-content-md-left
        img(src= ueblink , alt="")
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardmap
              #ergebnismap
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardmenu
              h2 Layer
              p Wählen Sie die Layer aus, welche Sie angezeigt bekommen wollen.
                .card.text-dark.p-4.border-success.cardprediction
                  input.form-check-input#checkboxNoLabel(type="checkbox", aria-label="...")
                  h4 Prediction
                  p Legende:
                  br
                  p Laden Sie die Prediction als GeoTIFF herunter:
                    a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:8000/tiffmodel', download='')
                br
                .card.text-dark.p-4.border-success.cardprediction
                  input.form-check-input#checkboxNoLabel(type="checkbox", aria-label="...")
                  h4 AOA
                  br
                  p Laden Sie die AOA herunter:
                    a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:8000/AOA', download='')
                br
                .card.text-dark.p-4.border-success.cardprediction
                  Input.form-check-input#checkboxNoLabel(type="checkbox", aria-label="...")
                  h4 Trainingsgebiete
                  br
                  p Laden Sie die Trainingsdaten herunter:
                    a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/usertrainingsdata.zip', download='usertrainingsdata.zip')
                br
                .card.text-dark.p-4.border-success.cardprediction
                  input.form-check-input#checkboxNoLabel(type="checkbox", aria-label="...")
                  h4 empfohlene Gebiete zum nachtrainieren
                      
                br
                .card.text-dark.p-4.border-success.cardprediction
                  input.form-check-input#checkboxNoLabel(type="checkbox", aria-label="...")
                  h4 Sentinel 2 Satelliten Bild
                  p Laden Sie das ursprüngliche Satelliten Bild herunter:
                    a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/usersentineldata.tif', download='usersentineldata.tif')
                br
                br
                p Herunterladen aller Daten als .zip:
                a.i.fa.fa-download.btn.btndownload.btn-success(role='button', href='http://localhost:3000/uploads/', download='')

  script(src="/javascripts/shp.js")
  script(src='/javascripts/leaflet.shpfile.js')             
  script(src="/javascripts/results.js")
  